.nav{
    display: flex;
    justify-content: center;
    height: 4rem;
    background-color: transparent;
}

/******************************************************************************/
  
.buttonContact {
    position: absolute;
    padding: .7em 1.5em;
    top: 1.5em;
    right: 2.5em ; ;
    border: 0px solid #ffffff00;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border-radius: 1em;
    background-color: transparent;
    font-weight: bolder;
  } 

  .buttonContact:hover {
    background-color: #3535358a ;
    border-radius: 1em;
    color: #fff;
  }
    
  .buttonContact:active {
    transform: scale(0.9);
  }

/******************************************************************************/

.button {
    position: absolute;
    padding: .7em 1.5em;
    top: 1.5em;
    right: 15em ;
    border: 0px solid #ffffff00;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border-radius: 1em;
    background-color: transparent;
    font-weight: bolder;
  } 

  .button:hover {
    background-color: #3535358a ;
    border-radius: 1em;
    color: #fff;
  }
    
  .button:active {
    transform: scale(0.9);
  }

/******************************************************************************/


.buttonGithub{
    position: absolute;
    top: .1em;
    right: 8em;
    margin: 10px;
    width: fit-content;
  
  }

  .icon {
    margin-left: 8px;
  }
  
  
  /******************************************************************************/


@media (max-width: 575px) {
    .nav {
        display: flex;
        justify-content: center;
        height: 4rem;
        background-color: transparent;
      }
      

    .button {
        position: absolute;
        padding: .7em 1.5em;
        top: 1.5em;
        right: 11em ;
        font-size: 12px;
        letter-spacing: 1px;
        cursor: pointer;
        overflow: hidden;
        background-color: transparent;
        font-weight: bolder;
      } 
      .buttonContact {
        position: absolute;
        padding: .7em 1.5em;
        top: 1.5em;
        right: 1em ; ;
        border: 0px solid #ffffff00;
        font-size: 12px;
        letter-spacing: 1px;
        cursor: pointer;
        overflow: hidden;
        transition: background-color 0.3s, color 0.3s, transform 0.3s;
        border-radius: 1em;
        background-color: transparent;
        font-weight: bolder;
      }

      .icon {
        margin-left: 4px;
      }
  }


