@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Montserrat|Lato|Raleway|Poppins|Ubuntu|Playfair+Display|Source+Sans+Pro|Merriweather&display=swap');

.body {
  display: flex;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  padding: 1em;
  margin: 1em;
}

.tittle {
  display: flex;
  color: white;
  margin-left: 1.8em;
  margin-top: 4em;
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
}

.text {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 4.5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  /* font-weight: normal; */
  font-weight: normal;
}

.button {
  display: flex;
  margin-top: .5em;
  margin-left: 3em;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 0.5rem 1.8rem;
  border-radius: 5em;
  background-color: transparent;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s, transform 0.3s;
  box-shadow: 0px 0px 5px #ffffff8c;
  border: 2px solid #fff;
}

.button:hover {
  background-color: #ffffffe5;
  color: #192938;
  transition: background-color 0.1s ease-in-out, color 0.1s, transform 0.3s;
}

.button:active {
  transform: scale(0.9);
}




.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

/* Estilos para pantallas de hasta 1376px de ancho */
@media (max-width: 1376px) {
  .tittle {
    font-size: 2.5em;
    margin-left: 1em;
    margin-top: 2em;
  }

  .text {
    margin-left: 0em;
    font-size: 19px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 62%; */
    width: 60%;
    padding: 1em;
    margin: 1em;
    
  }

  .button {
    margin-left: 2em;
  }
}

/* Estilos para pantallas de hasta 480px de ancho */
@media (max-width: 575px) {
  /* .body {
    background-image: url(../../Assets/landing.jpg);
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    margin: 0;
    height: 100vh;
    overflow: hidden;
  } */
  

  .tittle {
    margin-top: 0em;
    font-size: 1.5em;
    margin-left: 0.5em;
    color: #143157;
  }

  .container {
    margin-top: 6.5em !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 62.5%;
    width: 100%;
    padding: 1em;
    margin: 1em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background: #d2d7dfbd;
  }

  .text {
    margin-left: 1em;
    font-size: 15px;
    color: #091a22;
    font-weight: bold;
  }


  .button {
    display: flex;
    margin-top: .5em;
    margin-left: 1.5em;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 0.5rem 1.8rem;
    border-radius: 5em;
    background-color: transparent;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease-in-out, color 0.3s, transform 0.3s;
    box-shadow: 0px 0px 5px #ffffff8c;
    border: 2px solid #fff;
  }
  
  .button:hover {
    background-color: #ffffffe5;
    color: #192938;
    transition: background-color 0.1s ease-in-out, color 0.1s, transform 0.3s;
  }
  
  .button:active {
    transform: scale(0.9);
  }
  
}
  