.nav {
  display: flex;
  justify-content: space-between; /* Cambio para alinear elementos a los extremos */
  align-items: center;
  height: 4rem;
  background-color: transparent;
  padding-bottom: .5rem;
}

.nav_money{
  margin-top: 1.5rem;
  margin-left: 2.5rem;
  display: block;
}

/******************************************************************************/
  
.buttonContact {
    background-color: #5c5c5cea!important;
    position: absolute;
    padding: 1em 1.5em;
    top: 1em;
    right: 2.5em ; ;
    border: 0px solid #ffffff00;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border-radius: 1em;
    /* background-color: transparent; */
    font-weight: bolder;
  } 

  .buttonContact:hover {
    background-color: #3535358a ;
    border-radius: 1em;
    color: #000;
  }
    
  .buttonContact:active {
    transform: scale(0.9);
  }

/******************************************************************************/

.button {
    color: #000;
    position: absolute;
    padding: .7em 1.5em;
    top: 1.5em;
    right: 15em ;
    border: 0px solid #ffffff00;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border-radius: 1em;
    /* background-color: transparent; */
    font-weight: bolder;
  } 

  .button:hover {
    background-color: #3535358a ;
    border-radius: 1em;
    color: #000;
  }
    
  .button:active {
    transform: scale(0.9);
  }

/******************************************************************************/


.buttonGithub{
    position: absolute;
    top: .1em;
    right: 8em;
    margin: 10px;
    width: fit-content;
  
  }

  .icon {
    margin-left: 8px;
  }
  
  
  /******************************************************************************/


@media (max-width: 575px) {
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        background-color: transparent;
        padding-bottom: 0;
      }
      

    .button {
      display: none;
    } 

      .buttonContact {
        position: absolute;
        padding: 1.1em 1.6em;
        top: 1.4em;
        right: 1em ; ;
        border: 0px solid #ffffff00;
        background-color: rgba(158, 158, 158, 0.712);
        font-size: .9rem;
        letter-spacing: 1px;
        color: white;
        line-height: 1.334;
        cursor: pointer;
        border-radius: 1em;
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
        background-color: #5c5c5cea!important;
      }

      .icon {
        color: white;
        margin-left: 4px;
      }

      .nav {
        display: flex;
        justify-content: space-between; /* Cambio para alinear elementos a los extremos */
        align-items: center;
        height: 4rem;
        background-color: transparent;
        padding-bottom: .5rem;
      }
      
      .nav_money {
        margin-top: 1.5rem;
        margin-left: 1rem;
        display: block;
      }
  }


