
.main_menu{
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(247, 247, 247, 0.973);
  transform: translateX(100%);
  transition: transform 0.3s;
  position: fixed;
  top: 0; 
  right: 0; 
  width: 100%;
  z-index: 2; 
  font-family: 'Poppins';
}

.main_menu_item {
  padding: 1em;
  text-align: center;
}

.main_menu_item_one{
  padding: 1em;
  text-align: center;
}

.toggle_menu{
  width: 35px;
  position: absolute;
  top: 1.3rem;
  right: 3.3rem;
  cursor: pointer;
  z-index: 3;
}

.toggle_menu img{
  max-width: 100%;
}

.main_menu_link{
  text-decoration: none;
  display: block;
  color: #252525dc!important;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.main_menu_link_wsp{
  text-decoration: none;
  display: block;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  border-radius: 40px;
  padding: 10px 15px;
  text-align: center;
  background: #128c7e;
}

.main_menu_show{
  transform: translateX(0);
}

.toggle_menu_check{
  display: none;
}

.toggle_menu_check:checked + .main_menu{
  transform: translateX(0);
}

@media screen and (min-width: 770px) {
  .main_menu{
    flex-direction: row;
    transform: translateX(0);
    justify-content: flex-end;
    padding-right: 3rem;
    right: 0;
  }
  .main_menu_item {
    margin-right: 1rem;
  }
  .main_menu_item_one{
    margin-right: 1rem;
  }
  .toggle_menu{
    display: none;
  }
}

@media (max-width: 575px) {
  .main_menu{
    height: 100%;
    width: auto;
  }
  .main_menu_item_one{
    margin-top: 5rem;
  }
}